<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ListGod.com</title>


    <style>
        /* The Modal (background) */
        .modalListTwo {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-contentListTwo {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .closeListTwo {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .closeListTwo:hover,
            .closeListTwo:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>

</head>
<body>

    <div class="jumbotron">
        <h1 style="color: rgb(245,195,0)">ListGod.com</h1>
        <p class="lead">Welcome to List God! We are a free online to do list manager. For instructions, look below.</p>
        <p>
            <button type="button" id="myBtnListTwo" class="btn btn-info btn-group-lg" style="margin-top: 10px">Start by creating a new list &raquo;</button>
        </p>
    </div>

    <div align ="center"><img src="~/ListGodLogo.jpg" class="img-rounded" alt="List God Logo" width="250" height="250"></div>

    <div class="row">
        <div class="col-md-4">
            <h2 style="color: rgb(245,195,0)">Create Lists</h2>
            <p>
                You are now the god of your own lists! You can create a list by selecting the <b class="text-info">Create List</b> menu item or by clicking the button above.
            </p>
        </div>

        <div class="col-md-4">
            <h2 style="color: rgb(245,195,0)">Edit Lists</h2>
            <p>
                Editing lists has never been so easy! To edit an existing list, just find the list you're looking for in the <b class="text-info">View Lists</b> page and click the <b class="text-info">View/Edit</b> button.
            </p>
        </div>
        <div class="col-md-4">
            <h2 style="color: rgb(245,195,0)">View Lists</h2>
            <p>
                To view all of your lists, simply click the <b class="text-info">View Lists</b> menu item.
            </p>
        </div>
    </div>

    <div>
        @using (Html.BeginForm("AddList", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
        <!-- The Modal -->
            <div id="myModalListTwo" class="modalListTwo">

                <!-- Modal content -->
                <div class="modal-contentListTwo" method="POST">
                    <span class="closeListTwo">&times;</span>
                    <input name="newList" type="text" placeholder="New List Name">
                    <button type="submit" id="Create" name="button" value="NewList">Create</button>
                </div>
            </div>
        }
    </div>

</body>
</html>
<script>
    // Get the modal
    var modalListTwo = document.getElementById('myModalListTwo');

    // Get the button that opens the modal
    var btnListTwo = document.getElementById("myBtnListTwo");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("closeListTwo")[0];

    // When the user clicks the button, open the modal
    btnListTwo.onclick = function () {
        modalListTwo.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modalListTwo.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modalListTwo) {
            modalListTwo.style.display = "none";
        }
    }
</script>