@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ListGod.com</h1>
    <p class="lead">Welcome to List God! We are a free online to do list manager. For instructions, look below.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Create New List &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Instructions 1</h2>
        <p>
            blah blah blah
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Instructions 2</h2>
        <p>
            blah blah blah
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Instructions 3</h2>
        <p>
            blah blah blah
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>