@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <style>
        /* The Modal (background) */
        .modalList {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-contentList {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .closeList {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .closeList:hover,
            .closeList:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>
<body>

    <div class="jumbotron">
        <h1>ListGod.com</h1>
        <p class="lead">Welcome to List God! We are a free online to do list manager. For instructions, look below.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Start by creating a new list &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Create Lists</h2>
            <p>
                You are now the god of your own lists! You can create a list by selecting the <b class="text-info">Create List</b> menu item or by clicking the button below.
            </p>
            <p><button type="button" id="myBtnList" class="btn btn-info btn-sm" style="margin-top: 10px">Create List +</button></p>
        </div>
        <div class="col-md-4">
            <h2>Edit Lists</h2>
            <p>
                Editing lists has never been so easy! To edit an existing list, just find the list you're looking for in the <b class="text-info">Lists</b> page and click the <b class="text-info">View/Edit</b> button.
            </p>
        </div>
        <div class="col-md-4">
            <h2>View Lists</h2>
            <p>
                To view all of your lists, simply click the <b class="text-info">Lists</b> menu item or by clicking the button below.
            </p>
            <p>@Html.ActionLink("View Lists", "ViewLists", "Home", new { @class = "btn btn-info btn-sm" })</p>
        </div>
    </div>

   @using (Html.BeginForm("AddList", "Home", FormMethod.Post))
   {
        <!-- The Modal -->
    <div id="myModalList" class="modalList">

        <!-- Modal content -->
        <div class="modal-contentList" method="POST">
            <span class="closeList">&times;</span>
            <input name="newList" type="text" placeholder="New List Name">
            <button type="submit" id="Create" name="button" value="NewList">Create</button>
        </div>
    </div>
   }

</body>
</html>

<script>
// Get the modal
var modalList = document.getElementById('myModalList');

// Get the button that opens the modal
var btnList = document.getElementById("myBtnList");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("closeList")[0];

// When the user clicks the button, open the modal
btnList.onclick = function() {
    modalList.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modalList.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modalList) {
        modalList.style.display = "none";
    }
}
</script>